.card {
  cursor: pointer;
  box-shadow: 0 0 3px #232323;
  border: none;
  border-radius: none !important;
}

.card-footer {
    font-size: 13px;
    font-weight: bold;
    background: #87bc9a;
    text-align: center;
}

.card-header {
    background: #87bc9a;
    height: 50px;
}

p.card-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 185px;    
    overflow: hidden;   
}

div.card-body {
    padding: 0;
    background-color: #fcf9f4;

}


