<!-- <div class="editor">
  <figure class="bigIcon">
    <img (click)="toggleMenu()" id="hamburger-icon" src="../../assets/img/hamburger.png">
  </figure>
  <h1>Editor</h1>
  <app-editor-hamburger [@slideInOut]="menuState" (clickSender)="toggleMenu()"></app-editor-hamburger>
  <div contenteditable="true" id="editableTitle"></div>
  <div contenteditable="true" id="editableContent"></div>
  <br>
  <app-editor-toolbar></app-editor-toolbar>
  <textarea (click)="$event.target.select()" id="editableTitle" [(ngModel)]="docTitle" placeholder="Document Title"></textarea>
  <p>{{docTitle}}</p>
  <textarea rows="4" cols="50" id="editableContent" [(ngModel)]="docContent" placeholder="Write something here..."></textarea>
  <p>{{docContent}}</p>
  <app-editor-toolbar></app-editor-toolbar>
</div> -->
