<div class="editor">
  <div class="row">
    <div class="col-md-1">
      <figure class="bigIcon">
        <img
          (click)="toggleMenu()"
          id="hamburger-icon"
          src="../../assets/img/hamburger-dark.png"
        />
      </figure>
    </div>
  <div class="col-md-10 title">Editor</div>
  <div class="col-md-1 title">
    <button class="btn" (click)="saveDoc()">
      Save
    </button>
  </div>
  </div>

  <div class="container">
    <app-editor-hamburger
      [@slideInOut]="menuState"
      (clickSender)="toggleMenu()"
    ></app-editor-hamburger>
    
  </div>
</div>
