<div class="row">
  <div class="col-md-1">
    <figure class="bigIcon">
      <img
        (click)="toggleMenu()"
        id="hamburger-icon"
        src="../../assets/img/hamburger.png"
      />
    </figure>
  </div>
  <div class="col-md-11 title">Editor</div>
</div>

<div class="editor container-fluid">
  <app-editor-hamburger
    [@slideInOut]="menuState"
    (clickSender)="toggleMenu()"
  ></app-editor-hamburger>
  <div id="editor">
    <p>Hello World!</p>
    <p>Some initial <strong>bold</strong> text</p>
    <p><br /></p>
  </div>
</div>
