.editor{
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
#editableTitle {
    height: 5vh;
    background: rgb(230, 200, 205);
}

#editableContent {
    height: 80vh;
    border: 1px solid pink;
}
