<div>
  <ul>
    <li><img class="bigIcon" src="../../assets/img/bold.png"></li>
    <li><img src="../../assets/img/italic.png"></li>
    <li><img class="bigIcon" src="../../assets/img/underline.png"></li>
    <li><img src="../../assets/img/indentL.png"></li>
    <li><img src="../../assets/img/indentL.png"></li>
    <li><img src="../../assets/img/align-left.png"></li>
    <li><img src="../../assets/img/align-center.png"></li>
    <li><img src="../../assets/img/align-right.png"></li>
    <li><img src="../../assets/img/align-justify.png"></li>
    <li><img src="../../assets/img/align-justify.png"></li>
  </ul>
</div>