ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: block;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 4em;
}

img {
    width: 30%;
}

.bigIcon
{
    width: 50%;
}

.editor-toolbar {
    padding-left: auto;
    padding-right: auto;
}