<div class="editor-toolbar">
  <ul>
    <li (click)="boldText()"><img class="bigIcon" src="../../assets/img/bold.png"></li>
    <li (click)="italicizeText()"><img class="bigIcon" src="../../assets/img/italic.png"></li>
    <li (click)="underlineText()"><img class="bigIcon" src="../../assets/img/underline.png"></li>
    <li (click)="indentL()"><img src="../../assets/img/indentL.png"></li>
    <li (click)="indentR()"><img src="../../assets/img/indentL.png"></li>
    <li (click)="alignL()"><img src="../../assets/img/align-left.png"></li>
    <li (click)="alignC()"><img src="../../assets/img/align-center.png"></li>
    <li (click)="alignR()"><img src="../../assets/img/align-right.png"></li>
    <li (click)="alignJ()"><img src="../../assets/img/align-justify.png"></li>
  </ul>
</div>