<nav id="top-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a id="brand1" class="navbar-brand" routerLink="/dash">SkyDocs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Log In</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"> Help </a>
      </li>
    </ul>
  </div>
</nav>