<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="top-navbar">
  <a id="brand1" class="navbar-brand" routerLink="/dash">SkyDocs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="userEmail" class="nav-item">
        <a class="nav-link" id="greeting" routerLink="/dash">Hello {{userEmail}}</a>
      </li>
      <li *ngIf="userEmail != null" (click)="logOutClicked()" class="nav-item">
        <a class="nav-link" routerLink="">Log Out</a>
      </li>
      <li *ngIf="!userEmail" class="nav-item">
          <a class="nav-link" routerLink="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Help </a>
      </li>
    </ul>
  </div>
</nav>