<div class="landing">
  <div class="container">
    <div class="form-container">
      <div class="form-newdoc">
        <label>New Document:</label>
        <input #newTitle>
        <button (click)="submitForm(newTitle.value); newTitle.value=''" class='btn addDoc'>Add</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div *ngFor="let doc of docs; index as i">
        <div class="cardDisplay" (click)="goToEditor(doc)">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <div class="row">
                    <div class="col-10">
                      <h5 class="text-center">{{doc.title}}</h5>
                    </div>
                    <div class="col-2">
                      <img src="../../assets/img/deleteX.png" (click)=deleteDoc(doc)>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">{{doc.getPreviewContent()}}</p>
                </div>
                <div class="card-footer text-muted">
                  <div class="row">
                    <div class="left-footer col-4">
                        Words: {{doc.wordCount | number}}
                    </div>
                    <div class="right-footer col-8">
                      {{doc.getDateString()}}
                    </div>
                  </div>
                </div>
              </div>
          <!-- <app-dash-doc (sendDocsSender)="($event)" [displayDoc]="doc"></app-dash-doc> -->
        </div>
      </div>
    </div>
  </div>
</div>


