<div class="row ">
  <div *ngFor="let doc of docs; index as i" (click)="goToEditor(doc)">
      <div class="cardDisplay">
        <app-dash-doc [displayDoc]="doc"></app-dash-doc>
      </div>
  </div>
</div>



<p>
    ADD UserDoc
  </p>
  <div>
    <div>
      <label>Doc Title:</label>
      <br>
      <input #newTitle>
    </div>

    <div>
      <label>Doc Content:</label>
      <br>
      <input #newContent>
    </div>
    <button (click)="submitForm(newTitle.value, newContent.value); newQuestion.value=''; newTitle.value=''; newContent.value=''">Add</button>
  </div>