.landing {
    margin-top: 0;
    background-image: url("../../assets/img/desk-and-typewriter.jpg");
    height: 100vh;
    margin-top: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#splash {
    background-color:#87bc9a;
    width: 400px;
    height: 80vh;
    margin-left: 300px;
  
    color: #ffffff;
}