
<app-splash-navbar></app-splash-navbar>
<div class="landing">
  <div id="splash">
    <div id="landing-text">
        <h1>Keep journal with SkyDocs</h1>
        <div id="sign-up-area">
            <h3>Sign up today</h3>
            <form id="sign-up">
              <label for="user-id">User ID or Email Address</label>
              <input id="user-id">
              <label for="user-password">Password</label>
              <input id="user-password">
              <br>
              <button class="btn btn-primary">Sign Up</button>
          </form>    
        </div>
    </div>
  </div>
</div>